* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp7196652.jpg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  width: 100%;
  height: 80px;
  color: #ffffff;
}
