@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("./img/wallpaper\ 1.png");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: transparent;
}

.dropdown-menu {
  width: 100%;
  height: 5rem;
}

header nav .collapse {
  justify-content: flex-end;
}

header nav .container-fluid {
  background-color: #ffffff;
}

.log-out {
  display: none;
}

main {
  margin-top: 20px;
  width: 100%;
  display: grid;
  place-items: center;
  row-gap: 20px;
  color: #ffffff;
}
main .card-body {
  color: #136BAA;
}
main #image img {
  width: 180px;
  height: 200px;
}
main #card {
  width: 500px;
  height: 500px;
}

/* main .register {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 15px;
}

main .register .top h3 {
  text-align: center;
  font-weight: bold;
}

main .register .bottom {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  border: none;
}

.card-img {
  width: 600px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 15px;
} */
